{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is about page</h1>
      <h1>This change should not be seen in cache</h1>
      <h1>it is development gzzzgg</h1>

      <p>This from template data : {{index .StringMap "test"}}</p>

      <p>
        {{if ne (index .StringMap "remote_ip") ""}} Your remote IP address is {{index .StringMap "remote_ip"}} {{else}} I don't know your IP address yet, visit the <a href="/">Home Page</a>
        {{end}}
      </p>
    </div>
  </div>
</div>
{{end}}
